<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Eventualizr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/app.css"/>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="MeetingController">
	<div ng-repeat="meeting in meetings">
    <div class="row-fluid">
      <div class="span6 offset3 well">
        <h3>{{meeting.venue}}
        <a ng-click="getTalks(meeting)" class="btn btn-primary" style="float:right" type="button"  data-toggle="collapse" href="#talks{{meeting.id}}">+</a></h3>
        
        <div id="talks{{meeting.id}}" class="row-fluid accordion-body collapse in" ng-repeat="talk in meeting.talks">
           <div class="span1 offset1">
              {{talk.from | date:'MM/dd/yyyy'}} - {{talk.till | date:'MM/dd/yyyy'}}
           </div>
           <div class="span3 offset1">
              {{talk.speaker}}
           </div>
        </div>
      </div>
    </div>
  </div>

<div>Eventualizr app: v<span app-version></span></div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/MeetingController.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
</body>
</html>


