/* app css stylesheet */
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a:link {
	color: #6E8DC2;
	text-decoration: none;
}

a:visited {
	color: #5564A5;
	text-decoration: none;
}

a:hover {
	color: #5564A5;
	text-decoration: none;
}

a:active {
	color: #5564A5;
	text-decoration: none;
}

form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

#meetings li,#talks li {
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}

#meetings,#talks {
	list-style-type: none;
}

#meetings li .meetingTitle {
	font-size: 1.2em;
}

#meetings li:hover {
	background-color: #e6e6fa;
}

#meetings li a {
	display: block;
	width: 100%;
}