/* app css stylesheet */
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  	padding-top: 60px;
}

a:link {
	color: #6E8DC2;
	text-decoration: none;
}

a:visited {
	color: #5564A5;
	text-decoration: none;
}

a:hover {
	color: #5564A5;
	text-decoration: none;
}

a:active {
	color: #5564A5;
	text-decoration: none;
}

form, .form-actions {
	margin-bottom: 0;
}

.roundedGreyBorder {
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 5px;
}

.flashyBackground {
	background-color: #e6e6fa;
}

#meetings li,#talks li {
	margin: 5px;
}

#meetings,#talks {
	list-style-type: none;
}

.meetingTitle {
	font-size: 1.2em;
}

.fullyClickableLink {
	display: block;
	width: 100%;
}

.inputForm {
	background-color: #f5f5f5;
	margin: 5px;
}