<!doctype html>
<html lang="en" ng-app="eventualizrApp">
<head>
	<meta charset="utf-8">
	<title>Eventualizr</title>
	<link rel="stylesheet" href="lib/datepicker/datepicker-bootstrap.css" />
	<link rel="stylesheet" href="lib/datepicker/timepicker-bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/app_responsive.css" />
</head>
<body ng-controller="AppController" >
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			    <a class="brand" href="#">Eventualizr</a>
			    <ul class="nav">
			      	<li><a href="#">{{resourceBundle.home}}</a></li>
			      	<li><a href="#/meetings">{{resourceBundle.meeting.meetings}}</a></li>
			    </ul>
                <ul class="nav pull-right" id="main-menu-right">
                    <li class="dropdown">
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown" bs-tooltip="resourceBundle.language"
                           data-placement="bottom">
                            <i class="icon-globe header-icon"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li><a tabindex="-1" href="#" id="en" ng-click="setLanguage('en', $event)"><i ng-show="isLanguage('en')" class="icon-ok"></i> EN</a> </li>
                            <li><a tabindex="-1" href="#" id ="nl"ng-click="setLanguage('nl', $event)"><i ng-show="isLanguage('nl')" class="icon-ok"></i> NL</a> </li>
                        </ul>
                    </li>
                </ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div ng-view></div>
	</div>
	<div class="navbar navbar-fixed-bottom">
		Eventualizr app: v<span app-version></span>
	</div>

	<script	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<script	src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<script	src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"></script>

	<!-- datepicker -->
	<script src="lib/datepicker/datepicker-bootstrap.js"></script>
    <script src="lib/datepicker/bootstrap-datepicker.nl.js"></script>
	<script src="lib/datepicker/timepicker-bootstrap.js"></script>

	<script src="js/app.js"></script>
    <script src="lib/localize/ng-i18n.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
