<div class="newMeetingElements">
	<div>
		<div class="modal-header">
			<h3>Add a meeting</h3>
		</div>
		<div class="modal-body">
			<form name="newMeetingForm" novalidate class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="title">Event</label>
				    <div class="controls">
				    	<input type="text" id="title" name="title" ng-model="newMeeting.title" placeholder="Event name" required>
				    </div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="venue">Venue</label>
				    <div class="controls">
				    	<input type="text" id="venue" name="venue" ng-model="newMeeting.venue" placeholder="Venue" required>
				    </div>
				</div>
				 
				<div class="control-group">
					<label class="control-label" for="starttime">Start time</label>
				    <div class="controls">
				    	<input type="text" id="starttime" name="starttime" ng-model="startdate.date" data-date-format="dd/mm/yyyy" bs-datepicker>
	   				    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
				    	<input type="text" id="starttime" name="starttime" ng-model="startdate.time" bs-timepicker data-minute-step="10" data-show-seconds="false" data-show-meridian="false">
	   				    <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
				    </div>
				</div>
	
				<div class="control-group">
					<label class="control-label" for="endtime">End time</label>
				    <div class="controls">
				    	<input type="text" id="endtime" name="endtime" ng-model="enddate.date" data-date-format="dd/mm/yyyy" bs-datepicker>
	   				    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
				    	<input type="text" id="endtime" name="endtime" ng-model="enddate.time" />
				    </div>
				</div>
			</form>
		</div>
			
		<div class="modal-footer">
			<button ng-click="update(newMeeting,startdate,enddate); dismiss();" ng-disabled="newMeetingForm.$invalid" class="btn btn-primary">save</button>
			<button ng-click="dismiss();" class="btn">cancel</button>
		</div>
	</div>
</div>