Search:<input ng-model="query">

Sort: <select ng-model="orderProp">
	<option value="datum">Datum</option>
	<option value="titel">Naam</option>
</select>

<button ng-click="showAddNewMeetingForm()">Add new meeting</button>

<div ng-show="isAddNewMeetingFormVisible">
	<form novalidate class="simple-form">
		Event: <input type="text" ng-model="newMeeting.title" required /><br> 
		Venue: <input type="text" ng-model="newMeeting.venue" required /><br> 
		Start time: <br>
		End time: <br>
		<button ng-click="update(newMeeting)">save</button>
		<button ng-click="cancelNewMeeting()">cancel</button>
	</form>
</div>

<ul id="meetings">
	<li ng-repeat="meeting in meetings | filter:query | orderBy:orderProp">
		<a href="#/meetings/{{meeting.id}}"> <span class="meetingTitle">{{meeting.title}}</span><br>
			Venue: {{meeting.venue}}<br> Date: {{meeting.start |
			date:'dd/MM/yyyy H:mm'}} - {{meeting.end | date:'H:mm'}}
	</a>
	</li>
</ul>
