<div class="alerts">
  <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
</div>

<button type="button" class="btn pull-right" ng-click="remove(meeting)">
	<i class="icon-trash"></i>
</button>

<ng-include src="'partials/meetingOverview.html'"></ng-include>

<div>
	<table class="table table-striped">
		<thead>
			<tr class="capitalize">
				<th>{{resourceBundle.talk.subject}}</th>
				<th>{{resourceBundle.talk.speaker}}</th>
				<th>{{resourceBundle.talk.objective}}</th>
				<th>{{resourceBundle.talk.location}}</th>
				<th>{{resourceBundle.talk.time}}</th>
				<th style="width:10%"><button type="button" class="btn" bs-modal="'partials/createTalk.html'"><i class="icon-plus"></i> Add talk</button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="talks.length == 0">
				<td colspan="6">There are currently no talks available for this meeting.</td>
			</tr>
			<tr ng-repeat="talk in talks">
				<td>{{talk.subject}}</td>
				<td>{{talk.speaker}}</td>
				<td>{{talk.objective}}</td>
				<td>{{talk.location}}</td>
				<td>{{talk.from | date:'H:mm'}} - {{talk.till | date:'H:mm'}}</td>
				<td>
					<a href="#/meetings/{{meeting.id}}/talks/{{talk.id}}" class="btn"><i class="icon-search"></i></a>
					<button type="button" class="btn" ng-click="removeTalk(talk)"><i class="icon-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>