{{resourceBundle.common.back}}

<dl class="dl-horizontal">
  <dt class="capitalize">{{resourceBundle.talk.subject}}</dt><dd>{{talk.subject}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.objective}}</dt><dd>{{talk.objective}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.speaker}}</dt><dd>{{talk.speaker}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.summary}}</dt><dd>{{talk.summary}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.start}}</dt><dd>{{talk.from | date:'dd/MM/yyyy H:mm'}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.end}}</dt><dd>{{talk.till | date:'dd/MM/yyyy H:mm'}}</dd>
  <dt class="capitalize">{{resourceBundle.talk.location}}</dt><dd>{{talk.location}}</dd>
</dl>